Intel Core i9 9900K | 20 instances | median time - 02:02.998 | max time - 02:20.549 | min time - 01:45.948 |
